<div id="menu">
  <h1>REINA SABINAS</h1>
</div>

<style>
  h1 {
    background: var(--gold-gradient);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-family: var(--font-Principal);
    font-size: 2rem;
    font-weight: 400;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    letter-spacing: 0.1em;
  }
</style>
