---
const { icon, title, description } = Astro.props;
---

<div data-aos="fade-down"  class="card">
  <div data-aos="fade-down"  class="icon">
   <Fragment set:html={icon} />
  </div>

  <h4 data-aos="fade-down" >{title}</h4>
  <p data-aos="fade-down" >{description}</p>
</div>

<style>
  .card {
    color: #ffffff;
    padding: 24px 24px;
    border-radius: 25px;
    border: 1px solid #ffffff1a;
    box-shadow: 0px 4px 26px 6px rgba(98, 74, 34, 0.097);
    max-width: 230px;
    margin: 0 auto;
    background:   #0f2420;;
  }

  .card .icon {
    font-size: var(--text-small-section);
   background: var( --gold-gradient);
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .card h4 {
    font-family: var(--font-Principal);
    font-weight: 300;
    line-height: 1.25;
    margin: 5px auto;
    max-width: 58rem;
    font-size: 1.1rem;
    margin: 3px 0px;
  }
    .card p {
        font-size: .9rem;
        margin-top: 10px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        color: white;
        line-height: 1.5rem;
    }

    @media (max-width: 768px) {
        .card {
           max-width: 280px;
        }
    }
</style>
