---

---

<div class="requisitos">
  <h3>PROCESO DE INSCRIPCIÓN</h3>

  <p>
    Inscripciones del 7 al 24 de julio de 2026 en las oficinas de Fomento
    Económico (Presidencia Municipal). El registro cerrará antes si se llena el
    cupo.
  </p>

  <ul>
    <li>Fotografía a color, reciente, tamaño postal (cuerpo completo).</li>
    <li>Comprobante de domicilio vigente.</li>
    <li>Copia del Acta de Nacimiento.</li>
    <li>Carta de autorización de los padres (en caso de ser menor de edad).</li>
    <li>Constancia de estudios o constancia laboral.</li>
    <li>Carta de patrocinio o respaldo institucional.</li>
    <li>Pago de cuota de inscripción de $2,500.00 MXN.</li>
    <span> INFORMES AL TELEFONO: 861 200 7410.</span>
  </ul>

  <style>
    .requisitos {
      padding: 20px 38px;
      background-color: #ffffff;
      max-width: 400px;
      margin: 0 auto;
      border-radius: 25px;
      border: 1px solid #d19f6a74;
      box-shadow: 0px 4px 26px 6px rgba(98, 74, 34, 0.101);
    }

    .requisitos h3 {
      margin-top: 10px;
      font-family: var(--font-Principal);
      font-weight: 300;
      line-height: 1.25;
      margin: 10px auto;
      max-width: 58rem;
    }

    p{
        font-size: .9rem;
     
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
        color: var(--color-text);
        line-height: 1.5rem;
    }

    .requisitos ul {
      font-size: var(--text-small);
      margin-top: 20px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 400;
      color: var(--color-text);
      line-height: 1.5rem;
      text-align: left;
      padding: 0px;
    }
    .requisitos li {
      margin-bottom: 4px;
      font-size: 0.9rem;
    }
    .requisitos strong {
      font-weight: bold;
    }

    ul li::marker {
      color: hsl(var(--primary-color-section));
    }

    .requisitos span {
      display: block;
      margin-top: 20px;
      font-size: var(--text-small-section);
      font-weight: 400;
      color: var(--color-text);
      line-height: 1.5rem;
    }

    .text-primary {
      color: hsl(var(--primary-color-section));
    }

   
  </style>
</div>
