---

---

<div class="requisitos">
  <div class="uniq">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="text-primary"
      ><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
      ></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"
      ></path><path d="M16 13H8"></path><path d="M16 17H8"></path>
    </svg>

    <h3>REQUISITOS</h3>
  </div>

  <ul>
    <li>Ser residente y originaria de la ciudad de Sabinas, Coahuila.</li>
    <li>La participación va dirigida únicamente a mujeres.</li>
    <li>Tener entre 16 y 24 años cumplidos durante el año 2026.</li>
    <li>
      En caso de ser menor de edad, contar con autorización escrita del padre,
      madre o tutor legal.
    </li>
    <li>
      Ser soltera, no estar embarazada, ni tener hijos durante el certamen y su
      reinado (de no cumplirse, la corona le será retirada).
    </li>
    <li>Desempeñarse como estudiante o estar incorporada al sector laboral.</li>
    <li>
      Ser propuesta y patrocinada por un comité, escuela, empresa, institución o
      agrupación formal.
    </li>
    <li>
      Disponer de tiempo y ser puntual en las actividades y ensayos del
      certamen.
    </li>
    <li>
      Nombrar una representante que la acompañe a eventos y reuniones oficiales.
    </li>
    <li>Aceptar las normas y lineamientos del Comité de Reinado.</li>
    <li>
      No ser hija y familiar directo de algún integrante del Comité de Reinado
      y/o empleado municipal de la Administración de Sabinas, Coahuila.
    </li>
    <li>Registro limitado a un máximo de 8 participantes.</li>
  </ul>
  <span> INSCRIPCIONES ABIERTAS DEL 7 AL 24 DE JULIO DE 2026.</span>
</div>

<style>
  .requisitos {
    padding: 20px 38px;
    background-color: #0f2420;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid #d19f6a74;
    box-shadow: 0px 4px 26px 6px rgba(98, 74, 34, 0.101);
     color: white;
  }

  .requisitos h3 {
    margin-top: 10px;
    font-family: var(--font-Principal);
    font-weight: 300;
    line-height: 1.25;
    margin: 10px auto;
    max-width: 58rem;
  }

  .requisitos ul {
    font-size: var(--text-small);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
   
    line-height: 1.5rem;
    text-align: left;
    padding: 0px;
  }
  .requisitos li {
    margin-bottom: 4px;
    font-size: 0.9rem;
  }
  .requisitos strong {
    font-weight: bold;
  }

  ul li::marker {
    color: hsl(var(--primary-color-section));
  }

  .requisitos span {
    display: block;
    margin-top: 20px;
    font-size: var(--text-small-section);
    font-weight: 400;
   
    line-height: 1.5rem;
  }

  .text-primary {
    color: hsl(var(--primary-color-section));
  }

  .uniq {
    display: inline-flex;
    align-items: center;

    gap: 8px;
  }
</style>
