:root {
  --gold-gradient:  linear-gradient(
  135deg,
  #f1d6b4 0%,
  #D1A06A 25%,
  #BC7F43 55%,
  #9A632D 80%,
  #74471E 100%
);
    --background: 165 44% 5%;
--gold-gradient-green: linear-gradient(180deg, #6c8a73 0%, #314b38 100%);
  --font-Principal: Cinzel, serif;
  --primary-color: #ffffff;

  --champagne: 30, 40%, 88%;

  --text-small:1rem;

  --primary-color-section:33 45% 55%;
  --color-text:#0000008d;
 --text-small-section:.8rem;
}
