---
import Welcome from "../components/Menu.astro";
---

<div class="hero">
  <Welcome />
  <img src="/logo.avif" alt="Hero Image" />
  <b>Certamen de Belleza · Sabinas, Coahuila</b>
  <h2>BELLEZA, ELEGANCIA Y ORGULLO QUE REPRESENTAN A <span>SABINAS</span></h2>
  <p>
    La próxima reina de Sabinas está lista para brillar. Descubre a las
    candidatas, vota por tu favorita y sé parte de esta tradición de glamour.
  </p>

  <a href="#Inscripciones">
    <button> Ver Requisitos</button>
  </a>
</div>

<style>
  .hero {
    background-image:
      linear-gradient(hsla(0, 0%, 0%, 0.584), hsla(0, 0%, 0%, 0.517)),
      url("/hero.avif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 10px;
  }

  img {
    width: 140px;
    margin-top: 30px;
  }

  .hero b {
    display: block;
    font-size: var(--text-small);
    margin-top: 20px;
    font-weight: 300;
    color: hsl(var(--champagne));
    letter-spacing: 0.3em;
  }

  h2 {
    font-size: clamp(1.9rem, 4.5vw, 5rem);
    margin-top: 10px;
    font-family: var(--font-Principal);
    font-weight: 300;
    color: white;
    line-height: 1.25;

    margin: 10px auto;
    max-width: 48rem;
  }

  h2 span {
    background: var(--gold-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  p {
    font-size: var(--text-small);
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    color: hsl(var(--champagne));
    line-height: 1.5rem;
  }

  button {
    margin-top: 20px;
    background: var(--gold-gradient);
    color: white;
    border: none;
    padding: 10px 30px;
    font-size:var(--text-small);
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
 

  @media (max-width: 768px) {
     .hero b {
    
    font-size: .9rem;
   
  }
  }
</style>
