---
import InitSection from '../components/InitSection.astro';
---

<div class="Historia">
    <InitSection
        title="NUESTRA HISTORIA"
        subtitle="ACERCA DEL"
        Subtitle2 ="CERTAMEN"
        description="El Certamen de Reina de Sabinas es una tradición que celebra la belleza, inteligencia y carisma de las mujeres que orgullosamente representan a nuestra ciudad. Cada año, las participantes demuestran su compromiso con la comunidad a través de actividades culturales, sociales y de impacto."/>



    </div>