---
import InitSection from '../components/InitSection.astro';
---

<div class="Historia">
    <InitSection
        title="NUESTRA HISTORIA"
        subtitle="DE NUESTRO CERTAMEN"
        description="El certamen de belleza de Sabinas, Coahuila, tiene una rica historia que se remonta a varias décadas. Desde sus inicios, ha sido un evento que celebra la belleza, la cultura y el talento de las jóvenes de nuestra comunidad. A lo largo de los años, el certamen ha evolucionado, adaptándose a los cambios sociales y culturales, pero siempre manteniendo su esencia de promover valores como la elegancia, la confianza y el empoderamiento femenino."/>



    </div>