---
import InitSection from "../components/InitSection.astro";
import Requisitos from "../components/Inscripciones/Requisitos.astro";
---

<section class="Inscripciones">
  <InitSection
  
    title="INSCRIPCIONES ABIERTAS"
    subtitle="QUIERES SER LA PROXIMA REINA"
    subtitle2="REINA"
    description="Registros abiertos del 6 al 24 de julio de 2026. ¡No dejes pasar esta oportunidad!"
  
  />
  <Requisitos />


</section>
<style>
.Inscripciones {
  background: #F7F7F7;
  padding: 0px 13px;
}
</style>