---
import InitSection from "../components/InitSection.astro";
import Requisitos from "../components/Inscripciones/Requisitos.astro";
import ProcesoInscripcionAstroComponent from "../components/Inscripciones/ProcesoInscripcion.astro";
import Card from "../components/Inscripciones/Card.astro";
---

<section class="Inscripciones" id="Inscripciones">
  <InitSection
    title="INSCRIPCIONES ABIERTAS"
    subtitle="QUIERES SER LA PROXIMA REINA"
    subtitle2="REINA"
    description="Registros abiertos del 6 al 24 de julio de 2026. ¡No dejes pasar esta oportunidad!"
  />

  <div class="cards">
    <Card
      icon={`<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-crown text-primary-foreground"><path d="M11.562 3.266a.5.5 0 0 1 .876 0L15.39 8.87a1 1 0 0 0 1.516.294L21.183 5.5a.5.5 0 0 1 .798.519l-2.834 10.246a1 1 0 0 1-.956.734H5.81a1 1 0 0 1-.957-.734L2.02 6.02a.5.5 0 0 1 .798-.519l4.276 3.664a1 1 0 0 0 1.516-.294z"></path><path d="M5 21h14"></path></svg>`}
      title="REPRESENTAR A SABINAS"
      description="Sé la embajadora de belleza y cultura de nuestra ciudad"
    />
    <Card
      icon={`<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star text-primary-foreground"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>`}
      title="Crecimiento Personal"
      description="Desarrolla habilidades de liderazgo, oratoria y confianza"
    />
     <Card
      icon={`<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart text-primary-foreground"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></svg>`}
      title="Impacto Social
"
      description="Participa en causas sociales y eventos comunitarios"
    />
    <Card
      icon={`<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles text-primary-foreground"><path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"></path><path d="M20 3v4"></path><path d="M22 5h-4"></path><path d="M4 17v2"></path><path d="M5 18H3"></path></svg>`}
      title="Experiencia Única"
      description="Vive una experiencia de glamour y empoderamiento"
    />
  </div>

  <div class="consjunt">
    <Requisitos />
    <ProcesoInscripcionAstroComponent />
  </div>
</section>
<style>
  .Inscripciones {

    padding: 0px 13px;
    margin: 5rem auto;
  }

  .consjunt {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    max-width: 1100px;
    margin: 0 auto;
  }

  .cards {

    display: flex;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;

    
    margin: 3rem auto;
  }

   @media (max-width: 768px) {
        .cards {
           gap: 15px;
        }
    }
</style>
