---
import "../css/Global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KMVGC4JW5Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KMVGC4JW5Y");
    </script>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/logo-white.avif" />
    <meta name="generator" content={Astro.generator} />
    <title>Reina Sabinas 2026</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background: #f7f7f7;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDz8Z11lFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U +0900 -097F, U +1CD0 -1CF9, U +200C -200D, U +20A8, U +20B9, U +20F0, U +25CC, U + A830-A839, U + A8E0-A8FF, U +11B00 -11B09;
}
</style>
