---
import "../css/Global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KMVGC4JW5Y"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KMVGC4JW5Y");
    </script>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/logo-white.avif" />
    <meta name="generator" content={Astro.generator} />
    <title>Reina Sabinas 2026</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, sans-serif;
  }
</style>
